<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCompanyUserMapper">
    
    <resultMap type="SysCompanyUser" id="SysCompanyUserResult">
        <result property="userId"    column="user_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyAbbr"    column="company_abbr"    />
        <result property="password"    column="password"    />
        <result property="dataCount"    column="data_count"    />
        <result property="status"    column="status"    />
        <result property="vipStatus"    column="vip_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCompanyUserVo">
        select user_id, company_name, company_code, company_abbr, password, 
               (select count(*) from bill_of_lading_v5 b where b.create_by = company_code) as data_count, 
               status, vip_status, create_time, update_time from sys_company_user
    </sql>

    <select id="selectSysCompanyUserList" parameterType="SysCompanyUser" resultMap="SysCompanyUserResult">
        <include refid="selectSysCompanyUserVo"/>
        <where>  
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="companyAbbr != null  and companyAbbr != ''"> and company_abbr = #{companyAbbr}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="dataCount != null "> and data_count = #{dataCount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="vipStatus != null  and vipStatus != ''"> and vip_status = #{vipStatus}</if>
        </where>
    </select>
    
    <select id="selectSysCompanyUserByUserId" parameterType="Long" resultMap="SysCompanyUserResult">
        <include refid="selectSysCompanyUserVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertSysCompanyUser" parameterType="SysCompanyUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_company_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="companyAbbr != null and companyAbbr != ''">company_abbr,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="status != null">status,</if>
            <if test="vipStatus != null">vip_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="companyAbbr != null and companyAbbr != ''">#{companyAbbr},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="status != null">#{status},</if>
            <if test="vipStatus != null">#{vipStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysCompanyUser" parameterType="SysCompanyUser">
        update sys_company_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="companyAbbr != null and companyAbbr != ''">company_abbr = #{companyAbbr},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="vipStatus != null">vip_status = #{vipStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteSysCompanyUserByUserId" parameterType="Long">
        delete from sys_company_user where user_id = #{userId}
    </delete>

    <delete id="deleteSysCompanyUserByUserIds" parameterType="String">
        delete from sys_company_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="getLatestCompanyCode" parameterType="String" resultType="String">
        select max(company_code) from sys_company_user where company_code like concat(#{prefix}, '%')
    </select>

</mapper>