<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPdfTemplateMapper">
    
    <resultMap type="SysPdfTemplate" id="SysPdfTemplateResult">
        <result property="templateId"       column="template_id"        />
        <result property="templateCode"     column="template_code"      />
        <result property="templateName"     column="template_name"      />
        <result property="templateFilePath" column="template_file_path" />
        <result property="fieldConfig"      column="field_config"       />
        <result property="createTime"       column="create_time"        />
        <result property="createBy"         column="create_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>

    <sql id="selectSysPdfTemplateVo">
        select template_id, template_code, template_name, template_file_path, field_config, create_time, create_by, update_time, remark
        from sys_pdf_template
    </sql>

    <select id="selectSysPdfTemplateByCode" parameterType="String" resultMap="SysPdfTemplateResult">
        <include refid="selectSysPdfTemplateVo"/>
        where template_code = #{templateCode}
    </select>

    <select id="selectSysPdfTemplateById" parameterType="Long" resultMap="SysPdfTemplateResult">
        <include refid="selectSysPdfTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <select id="selectSysPdfTemplateList" parameterType="SysPdfTemplate" resultMap="SysPdfTemplateResult">
        <include refid="selectSysPdfTemplateVo"/>
        <where>  
            <if test="templateCode != null  and templateCode != ''"> and template_code = #{templateCode}</if>
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>
    
    <insert id="insertSysPdfTemplate" parameterType="SysPdfTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into sys_pdf_template(
            <if test="templateCode != null and templateCode != ''">template_code,</if>
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="templateFilePath != null and templateFilePath != ''">template_file_path,</if>
            <if test="fieldConfig != null and fieldConfig != ''">field_config,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="templateCode != null and templateCode != ''">#{templateCode},</if>
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="templateFilePath != null and templateFilePath != ''">#{templateFilePath},</if>
            <if test="fieldConfig != null and fieldConfig != ''">#{fieldConfig},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateSysPdfTemplate" parameterType="SysPdfTemplate">
        update sys_pdf_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">template_code = #{templateCode},</if>
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="templateFilePath != null and templateFilePath != ''">template_file_path = #{templateFilePath},</if>
            <if test="fieldConfig != null and fieldConfig != ''">field_config = #{fieldConfig},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteSysPdfTemplateById" parameterType="Long">
        delete from sys_pdf_template where template_id = #{templateId}
    </delete>

</mapper>
