<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订舱信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>船名航次：</label>
                                <input type="text" name="vesselVoyage"/>
                            </li>
                            <li>
                                <label>装货港：</label>
                                <input type="text" name="portOfLoading"/>
                            </li>
                            <li>
                                <label>卸货港：</label>
                                <input type="text" name="portOfDischarge"/>
                            </li>
                            <li>
                                <label>交货地：</label>
                                <input type="text" name="placeOfDelivery"/>
                            </li>
                            <li>
                                <label>货物数量：</label>
                                <input type="text" name="cargoQuantity"/>
                            </li>
                            <li>
                                <label>货物毛重(KGS)：</label>
                                <input type="text" name="cargoGrossWeight"/>
                            </li>
                            <li>
                                <label>货物体积(CBM)：</label>
                                <input type="text" name="cargoMeasurement"/>
                            </li>
                            <li>
                                <label>创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建时间" name="createdAt"/>
                            </li>
                            <li>
                                <label>更新时间：</label>
                                <input type="text" class="time-input" placeholder="请选择更新时间" name="updatedAt"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="booking:bookings:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="booking:bookings:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="booking:bookings:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="booking:bookings:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('booking:bookings:edit')}]];
        var removeFlag = [[${@permission.hasPermi('booking:bookings:remove')}]];
        var prefix = ctx + "booking/bookings";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订舱信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'bookingNo',
                    title: '订舱编号',
                    visible: false
                },
                {
                    field: 'shipper',
                    title: '发货人信息'
                },
                {
                    field: 'consignee',
                    title: '收货人信息'
                },
                {
                    field: 'notifyParty',
                    title: '通知方信息'
                },
                {
                    field: 'vesselVoyage',
                    title: '船名航次'
                },
                {
                    field: 'portOfLoading',
                    title: '装货港'
                },
                {
                    field: 'portOfDischarge',
                    title: '卸货港'
                },
                {
                    field: 'placeOfDelivery',
                    title: '交货地'
                },
                {
                    field: 'cargoDescription',
                    title: '货物描述'
                },
                {
                    field: 'cargoQuantity',
                    title: '货物数量'
                },
                {
                    field: 'cargoGrossWeight',
                    title: '货物毛重(KGS)'
                },
                {
                    field: 'cargoMeasurement',
                    title: '货物体积(CBM)'
                },
                {
                    field: 'createdAt',
                    title: '创建时间'
                },
                {
                    field: 'updatedAt',
                    title: '更新时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.bookingNo + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.bookingNo + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>