<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('订舱与集装箱合并信息列表')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>B/L NO：</label>
                                <input type="text" name="blNo" />
                            </li>
                            <li>
                                <label>BOOKING NO：</label>
                                <input type="text" name="bookingNo" />
                            </li>
                            <li>
                                <label>船名航次：</label>
                                <input type="text" name="vesselVoyage" />
                            </li>
                            <li>
                                <label>前段运输：</label>
                                <input type="text" name="preCarriageBy" />
                            </li>
                            <li>
                                <label>装货港：</label>
                                <input type="text" name="portOfLoading" />
                            </li>
                            <li>
                                <label>卸货港：</label>
                                <input type="text" name="portOfDischarge" />
                            </li>
                            <li>
                                <label>交货地：</label>
                                <input type="text" name="placeOfDelivery" />
                            </li>
                            <li>
                                <label>服务类型：</label>
                                <input type="text" name="serviceType" />
                            </li>
                            <li>
                                <label>服务模式：</label>
                                <input type="text" name="serviceMode" />
                            </li>
                            <li>
                                <label>费用条款：</label>
                                <input type="text" name="freightTerm" />
                            </li>
                            <li>
                                <label>创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建时间" name="createdAt" />
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:consolidated:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                    shiro:hasPermission="system:consolidated:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                    shiro:hasPermission="system:consolidated:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()"
                    shiro:hasPermission="system:consolidated:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:consolidated:edit') }]];
        var removeFlag = [[${@permission.hasPermi('system:consolidated:remove') }]];
        var prefix = ctx + "system/consolidated";

        $(function () {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订舱与集装箱合并信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'blNo',
                    title: 'B/L NO.'
                },
                {
                    field: 'bookingNo',
                    title: 'BOOKING NO.'
                },
                {
                    field: 'shipper',
                    title: '发货人',
                    formatter: function (value, row, index) {
                        if (!value) return '';
                        return value.length > 30 ? value.substring(0, 30) + '...' : value;
                    }
                },
                {
                    field: 'consignee',
                    title: '收货人',
                    formatter: function (value, row, index) {
                        if (!value) return '';
                        return value.length > 30 ? value.substring(0, 30) + '...' : value;
                    }
                },
                {
                    field: 'notifyParty',
                    title: '通知方',
                    formatter: function (value, row, index) {
                        if (!value) return '';
                        return value.length > 30 ? value.substring(0, 30) + '...' : value;
                    }
                },
                {
                    field: 'vesselVoyage',
                    title: '船名航次'
                },
                {
                    field: 'preCarriageBy',
                    title: '前段运输'
                },
                {
                    field: 'portOfLoading',
                    title: '装货港'
                },
                {
                    field: 'portOfDischarge',
                    title: '卸货港'
                },
                {
                    field: 'placeOfDelivery',
                    title: '交货地'
                },
                {
                    field: 'goodsDescription',
                    title: '货物描述',
                    formatter: function (value, row, index) {
                        if (!value) return '';
                        return value.length > 40 ? value.substring(0, 40) + '...' : value;
                    }
                },
                {
                    field: 'packageQuantity',
                    title: '包装数量'
                },
                {
                    field: 'grossWeightKgs',
                    title: '毛重(KGS)'
                },
                {
                    field: 'measurementCbm',
                    title: '体积(CBM)'
                },
                {
                    field: 'containerNo',
                    title: '箱号'
                },
                {
                    field: 'sealNo',
                    title: '封号'
                },
                {
                    field: 'containerSealInfo',
                    title: '原始描述'
                },
                {
                    field: 'serviceType',
                    title: '服务类型'
                },
                {
                    field: 'serviceMode',
                    title: '服务模式'
                },
                {
                    field: 'freightTerm',
                    title: '费用条款'
                },
                {
                    field: 'createdAt',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>

</html>